[project]
	description = Laravel implementation of Ruby on Rails' elasticsearch-model gem, integrating Elasticsearch with Eloquent.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/datashaman (datashaman)
[access "refs/for/refs/*"]
	read = group user/datashaman (datashaman)
	push = group user/datashaman (datashaman)
	label-Code-Review = -2..+2 group user/datashaman (datashaman)
	label-Verified = -1..+1 group user/datashaman (datashaman)
	rebase = group user/datashaman (datashaman)
	removeReviewer = group user/datashaman (datashaman)
	submit = group user/datashaman (datashaman)
[access "refs/heads/*"]
	read = group user/datashaman (datashaman)
	create = group user/datashaman (datashaman)
	push = +force group user/datashaman (datashaman)
	pushMerge = group user/datashaman (datashaman)
[access "refs/tags/*"]
	push = +force group user/datashaman (datashaman)
	pushTag = group user/datashaman (datashaman)
	pushSignedTag = group user/datashaman (datashaman)
